<label class="filter-dropdown__label" for="FilterTags">
  <span class="filter-dropdown__label--title">{{ 'collections.sorting.title_tags' | t }}</span>
  <span class="filter-dropdown__label--active"></span>
</label>
<select class="filter-dropdown__select" name="FilterTags" id="FilterTags" aria-describedby="warning-text">
  {% if current_tags %}
    {% if collection.handle %}
      <option value="/collections/{{ collection.handle }}">{{ 'collections.general.all_of_collection' | t }}</option>
    {% elsif collection.current_type %}
      <option value="{{ collection.current_type | url_for_type }}">{{ 'collections.general.all_of_collection' | t }}</option>
    {% elsif collection.current_vendor %}
      <option value="{{ collection.current_vendor | url_for_vendor }}">{{ 'collections.general.all_of_collection' | t }}</option>
    {% endif %}
  {% else %}
    <option value="">{{ 'collections.general.all_of_collection' | t }}</option>
  {% endif %}
  {% for tag in collection.all_tags %}
    {% assign ishidden = tag | slice: 0, 7 %}
    {% unless ishidden == "hidden_" %}
      <option value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}"{% if current_tags contains tag %} selected="selected"{% endif %}>{{ tag }}</option>
    {% endunless %}
  {% endfor %}
</select>
